azulclaro = #2DA0E3;
azulmedioclaro = #1F90D2;
azulmediooscuro = #2767AB;
azuloscuro = #1E252F;
bgcolor = #E5E6DF;

body, html
	height 100%

body
	background-color bgcolor;
	font-family 'Lato', sans-serif
		
	.barra
		background-color azulclaro
		height 70px
		position fixed
		width 100%
		z-index 30

		a
			color white
			font-size 20px
			font-weight bold
			line-height 65px
			text-decoration none
			vertical-align middle
			margin-left 40px

			span
				margin-left 4px

	.slider
		height 100vh
		overflow hidden
		position relative

		img
			height 100%
			width auto
			z-index -100
			opacity 0.9
		
	.separador-contenido
		height 10px
		background-color azulmedioclaro

	.main-container
		background-image url('../IMAGES/BG.png')
		height 100vh

	.div-footer2
		background-color azuloscuro
		color white
		height 80px
		text-align center
		padding-top 18px

		span
			font-weight bold
			display block

		p
			display block
			text-transform uppercase

			a
				text-decoration none
				color white

				&:hover
					color azulclaro

	#menu
		
		&.active
			left 230px
			position relative

			#sidebar-wrapper
				left 230px
				transition all 0.4s ease 0s
				width 230px

	#sidebar-wrapper
		background-color azuloscuro
		height 100%
		left 0px
		margin-left -230px
		position fixed
		transition all 0.4s ease 0s
		width 230px
		z-index 1000

		.sidebar-nav
			list-style none
			margin 0
			padding 0
			position absolute
			top 0
			width 230px
		
			ul
				
				li
					font-size 18px
					font-weight bold
					line-height 40px
					margin-left -40px
					text-align center
					text-transform uppercase

					a
						color #ffffff
						display block
						text-decoration none

						&:hover
							background-color rgba(255,255,255,0.2)
							text-decoration none

						&:active
						&:focus
							text-decoration none

			&>.sidebar-brand
				font-size 20px
				height 70px
				position relative

				img
					float left
					height 35px
					margin 20px 0px 0px 20px

				a
					color #ffffff
					position absolute
					right 8px
					text-decoration none
					text-transform uppercase
					font-weight bold
					top 12px

					span
						top 3px
						margin-left 2px

					&:hover
						background-color none
						color #fff

@media screen and (max-width: 768px)
	
	.barra
		a
			margin-left 20px !important